@use "./variables" as *;
.auth-page {
  background-color: #f8f9fa;
  min-height: 100vh;

  .auth-box {
    max-width: 480px;
  }

  .form-control:focus {
    border-color: $student-one-main;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
  }
}
